.about-side-bar {
	top: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    overflow: hidden;
    z-index: 2;
    width: 25%;
    font-size: 14px;
    color: #fff;
	text-align: left;
	background: url(/static/media/coverpic.7e80bfc1.png) top left no-repeat #bababa;
    background-size: cover;
}

.about-side-bar-bg {
	background-color: rgba(145,13,13,.8);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.about-side-bar-inner {
	position: relative;
    height: 100%;
    overflow: scroll;
    padding: 45px 40px;
}

.about-side-image-name {
	text-align: center;
	text-decoration: none;
}

.about-side-bar-profile-pic {
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

.about-side-bar-profile-pic-container {
	margin-bottom: 10px;
}

.about-side-bar-profile-content {
	margin-left: -40px;
	margin-right: -40px;
}

.about-size-bar-name {
	font-size: 22px;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
	font-weight: 500;
	color: white;
}

.about-size-bar-title {
	font-size: 16px;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
	font-weight: 300;
	color: white;
}

.about-side-bar-main-navigation {
	margin: 45px -40px;
    line-height: 30px;
    position: relative;
    font-size: 14px;
	text-transform: uppercase;
	text-transform: uppercase;
	font-weight: 300;
}

.about-side-bar-main-navigation-hamburger {
	display: none;
}

.about-side-bar-main-navigation-hamburger hr {
	padding: 0;
    margin: 2px;
    height: 1px;
    width: 100%;
    background: #ddd;
	border: none;
}

.about-side-bar-main-navigation-content ul, .about-side-bar-main-navigation-content ul>li {
	padding: 0;
}

.about-side-bar-main-navigation-content ul li {
    position: relative;
	padding: 0 40px;
}

.about-side-bar-main-navigation-content ul li a {
	color: rgba(255, 255, 255, 0.5);
	text-decoration: none;
}

.about-side-bar-main-navigation-content ul li a:hover {
	color: rgba(255, 255, 255, 1);
}

.about-side-bar-main-list-two {
	margin-top: 30px;
}

.about-side-bar-social-title {
	text-transform: uppercase;
	font-size: 11px;
    font-weight: 300;
    color: rgba(255,255,255,.5);
    margin-bottom: 15px;
}

.about-side-bar-social-title:hover {
	color: rgba(255,255,255,1);
}

.about-side-bar-social-icons a {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.6);
	padding: 0;
	margin-right: 0.8em;
}

.about-side-bar-social-icons a:hover {
	color: rgba(255, 255, 255, 1);
}

.about-side-bar-blog-block {
	font-size: 11px;
    font-weight: 300;
	margin-top: 45px;
	color: rgba(255, 255, 255, 0.5);
}

.about-side-bar-blog-title {
	text-transform: uppercase;
	margin-bottom: 15px;
}

.about-side-bar-blog-title:hover {
	color: rgba(255, 255, 255, 1);
}

@media (max-width: 1023px) {
	.about-side-bar {
		top: auto;
		bottom: auto;
		left: auto;
		right: auto;
		position: relative;
		width: auto;
		padding-top: 40px;
		padding-bottom: 0;
	}

	.about-side-bar-blog-block {
		display: none;
	}

	.about-side-bar-main-navigation {
		font-size: 14px;
		text-transform: uppercase;
		line-height: 50px;
		text-align: right;
		margin: 20px -40px 0;
	}

	.about-side-bar-social-title {
		display: none;
	}

	.about-side-bar-main-navigation-hamburger {
		display: block;
	}

	.about-side-bar-hamburger-icon {
		padding-right: 20px;
	}

	.about-side-bar-main-navigation-content {
		margin-bottom: -48px;
	}

	.about-side-bar-social {
		visibility: hidden;
	}
}
